/* general styles and text */

body{
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: Lovers Quarrel, cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  margin-top: 0;
}


h2{
  font-size: 36px;
  color: #02204E;
}

.name{
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #011430;
  width: 80%;
  text-align: center;
}

.presented{
  font-family: Lovers Quarrel, cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  margin-top: 0;
}

.stack{
  font-size: 32px;
}

h4{
  font-family: 'Homemade Apple', cursive;
  font-size: 16px;
  color: #080808;
}

.accomplishment-text{
  font-family: 'Roboto', sans-serif;
}

.ceo-name{
  border-bottom: 1px solid #000000;
}

h6{
  font-size: 14px;
  color:  #8A8A8A;
}

.signature p {
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  color: #000000;
  text-align: center;
}

p{
  font-size: 10px;
  color: #808080;
}

.creditations div p {
  margin-bottom: 0;
}

.rectangle-text p{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

/* sections */

.space {
  background-color: #E5E5E5;
  height: 30px;
  width: 100%;
}

.certificate-container {
  position: relative;
  background: #ffffff url('../img/frame.svg') no-repeat center;
  background-size: 100% 100%;
  /* width: 65%; */
  width: 1040px;
  /* max-width: 80%; */
  /* height: 98vh; */
  margin: 0 auto; 
}

.certificate-content{
  width: 100%;
  height: 100%;
  padding: 12.6% 13%;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.creditations{
  font-family: 'Poppins', sans-serif;
}



/* img */
.first img {
  width: 25%;
}
