@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eee;
}

@media (min-width: 1125px) {
  .cert-box {
    overflow-y: hidden;
  }
}

.cert-box {
  display: flex;
  flex-direction: column;
  margin: 1.5vh 10%;
  background-color: #fff;
  height: 95vh;
  position: relative;
  background: url(../img/cert\ 4\ bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin-top: 2rem;
  margin-left: 5rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}

.certificate {
  text-align: center;
}

.certificate h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 65px;
  color: #1267A0;
  margin: 0;
}

.certificate p {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 27px;
  color: #06EAFC;

}

.certify-that {
  text-align: center;
  margin: 0.7rem 0;
}

.certify-that p {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #828282;
}

.name h2 {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #1267A0;
}

.div-con {
  display: flex;
  justify-content: center;
}

.divider {
  height: 4px;
  width: 90%;
  background: #6EDDFF;
}

.completed {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

.completed p {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #828282;
}

.completed p span {
  font-weight: 00;
}

.as p {
  font-weight: 300;
  font-size: 16.2621px;
  line-height: 19px;
  color: #828282;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

.track {
  display: flex;
  justify-content: center;
}

.track h3 {
  font-weight: 900;
  font-size: 31.562px;
  line-height: 37px;
  color: #006FAD;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

.sign-one {
  align-items: flex-end;
}

.sign-two {
  align-items: flex-start;
}

.sign .sign-line {
  height: 2px;
  /* width: 40%; */
  background: #6EDDFF;
}

.sign p {
  text-align: center;
  align-self: center;
}

.signature {
  width: 50%;
}